{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Estratega, una herramienta de advocacy">

    <title>Estratega</title>

    <script src="https://use.fontawesome.com/07d6cf7672.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}

    {% bootstrap_css %}
    <link rel="stylesheet" media="all" href="{% static 'css/style-orig.css' %}" data-turbolinks-track="true" />
    <link rel="stylesheet" media="all" href="{% static 'css/ajustes.css' %}" data-turbolinks-track="true" />

</head>

<body class="home">
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
                    <a class="navbar-brand" href="/" target="_self"><img src="{% static 'images/logo.svg' %}" alt="Logo" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div id="navbar" class="nav navbar-collapse collapse">
                    <ul class="nav navbar-nav pull-left">
                        <li><a href="#metodologia">Metodología</a></li>
                        <li><a href="#testimonios">Testimonios</a></li>
                        <li><a href="#usanestratega">Usan Estratega</a></li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Iniciar sesión<span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-button">
                                <li>
                                    <form action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token"
                                            value="HQDiLTnt375KNleggQPcmm2VFx4FYM1IJN4yMVZR7pWhIMOQj3CtAwoUknKNxKI/2Re24NUiATA53Z0B5jZZvw=="
                                        />
                                        <div class="form-group">
                                            <label for="email"><span class="translation_missing" title="translation missing: es.layouts.signin.mail">Mail</span></label>
                                            <input class="form-control" type="text" name="user[email]" id="user_email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="email"><span class="translation_missing" title="translation missing: es.password">Password</span></label>
                                            <input class="form-control" type="password" name="user[password]" id="user_password" />
                                        </div>
                                        <div class="checkbox">
                                            <label>
      <input name="user[remember_me]" type="hidden" value="0" /><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me" /> <span class="translation_missing" title="translation missing: es.layouts.signin.remember_me">Remember Me</span>
    </label>
                                        </div>
                                        <input type="submit" name="commit" value="Iniciar Sesión" class="btn btn-success" />
                                        <p><a href="/users/password/new">¿Olvidó su contraseña?</a></p>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- this prevent close the dropdown menu http://stackoverflow.com/a/16050828 -->
                </div>
            </div>
            <script type="text/javascript">
                $('.dropdown-menu input').click(function (e) {
                    e.stopPropagation();
                });
            </script>
        </nav>


    </header>

    <div role="main" class="FullPage">
        <section id="hero">
            <div class="container">
                <h1 class="text-width text-center text-white"><span>Reduce los riesgos y aumenta el desempeño de tu equipo al momento de incidir en políticas públicas</span></h1>
            </div>
        </section>
        <section id="preguntas">
            <div class="container text-center text-width">
                <h3 class="text-white">¿Tienes objetivos de acción claros pero no logras cumplirlos?</h3>
                <h3 class="text-white">¿No logran conectar con los actores sociales con los que te deberías relacionar?</h3>
                <h3 class="text-white">¿Tu presupuesto organizacional es escaso y necesitas optimizarlo de la mejor manera?</h3>
                <h3 class="text-white">¿Existe alta rotación en los miembros de tu organización?</h3>
                <h3 class="text-white">¿Tus flujos de comunicación interna y externa trabajan en función de tu meta institucional?</h3>
            </div>
        </section>
        <section id="metodologia">
            <div class="container">
                <h2 class="text-white text-center">Metodología</h2>
                <div class="row">
                    <div class="col-md-2 text-center arrow"><img class="" alt="Caracterizar el problema público" src="{% static 'images/m02.svg' %}" />
                        <p class="text-white">Caracterizar el problema público</p>
                    </div>
                    <div class="col-md-2 text-center arrow"><img class="" alt="Definir objetivos" src="{% static 'images/m03.svg' %}" />
                        <p class="text-white">Definir objetivos</p>
                    </div>
                    <div class="col-md-2 text-center arrow"><img class="" alt="Analizar factores externos" src="{% static 'images/m04.svg' %}" />
                        <p class="text-white">Analizar factores externos</p>
                    </div>
                    <div class="col-md-2 text-center arrow"><img class="" alt="Definir resultados intermedios" src="{% static 'images/m05.svg' %}" />
                        <p class="text-white">Definir resultados intermedios</p>
                    </div>
                    <div class="col-md-2 text-center arrow"><img class="" alt="Planificar peticiones" src="{% static 'images/m06.svg' %}" />
                        <p class="text-white">Planificar peticiones</p>
                    </div>
                    <div class="col-md-2 text-center arrow"><img class="" alt="Evaluación monitoreo" src="{% static 'images/m07.svg' %}" />
                        <p class="text-white">Evaluación monitoreo</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="testimonial" id="testimonios">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Testimonios</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img class="img-circle" src="{% static 'images/t6.png' %}" alt="T6" />
                    <p class="cita text-center">me ha servido para identificar y ponderar todos los factores que influyen en el éxito</p>
                    <p>Estratega me ha servido para identificar y ponderar todos los factores que influyen en el éxito de una
                        planificación de incidencia teniendo muy claro qué es lo que se quiere conseguir. Esto nos ha permitido
                        planificar con el nivel de detalle y orden cronológico que requiere el logro de cada uno de nuestros
                        objetivos</p>
                    <p class="persona">Danae Fuentes, Encargada de Incidencia en Políticas Públicas Hogar de Cristo</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img class="img-circle" src="{% static 'images/t4.png' %}" alt="T4" />
                    <p class="cita text-center">fue el comienzo para abordar el tema de incidencia de forma profesional y con sentido</p>
                    <p class="">Estratega fue el comienzo para abordar el tema de incidencia de forma profesional y con sentido. Con
                        Estratega nos encontramos, no solo con un equipo de profesionales que nos orientaron hacia dónde
                        apuntar con nuestro trabajo, sino con personas convencidas de que el trabajo entre la sociedad civil
                        es posible</p>
                    <p class="persona">José Manuel Tapia, Coordinador de Extensión CIS TECHO - Chile</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <img class="img-circle" src="{% static 'images/t5.jpg' %}" alt="T5" />
                    <p class="cita text-center">nos ha permitido priorizar los objetivos y distribuir los esfuerzos de la organización</p>
                    <p class="">Con Estratega he observado cómo intenciones se traducen en objetivos de política pública definidos y
                        concretos, con indicadores de éxito y un itinerario de acciones claro que orienta la acción de incidencia.
                        Esto nos ha permitido priorizar los objetivos y distribuir los esfuerzos de la organización</p>
                    <p class="persona">Octavio Del Favero, Coordinador Legislativo Fundación Ciudadano Inteligente</p>
                </div>
            </div>
        </div>
    </div>
    <div class="organizations" id="usanestratega">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-white">Usan Estratega</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <a href="//www.techo.org/paises/chile/" target="_blank"><img class="logos" alt="Logo TECHO" src="{% static 'images/logo-techo.svg' %}" data-pin-nopin="true"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <a href="//www.hogardecristo.cl/" target="_blank"><img class="logos" alt="Logo Hogar de Cristo" src="{% static 'images/logo-hogar.svg' %}" data-pin-nopin="true"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <a href="//ciudadanointeligente.org/" target="_blank"><img class="logos" alt="Logo Fundación Ciudadano Inteligente" src="{% static 'images/logo-fci.svg' %}" data-pin-nopin="true"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <a href="//bordepolitico.com/" target="_blank"><img class="logos" src="{% static 'images/logo-borde.svg' %}" alt="Logo Borde Político"></a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                    <a href="//espaciosabiertos.org/" target="_blank"><img class="logos" src="{% static 'images/espacios-abiertos.svg' %}" alt="Logo Espacios Abiertos"></a>
                </div>
            </div>
        </div>
    </div>

    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <ul class="list-unstyled">
                        <li><a href="mailto:info@ciudadanointeligente.org?Subject=Estratega" class="email-prensa" target="_top"
                                onclick="ga('send', 'event', 'footer-email', 'click');"><i class="fa fa-envelope-o" aria-hidden="true"></i> Mándanos un correo</a></li>
                        <li><a href="//github.com/ciudadanointeligente" target="_blank" onclick="ga('send', 'event', 'footer-github', 'click');"><i class="fa fa-github-alt" aria-hidden="true"></i> Revisa nuestro código</a></li>
                    </ul>
                </div>
                <div class="col-md-4 text-center">
                    <ul class="list-unstyled">
                        <li>Un proyecto de</li>
                        <li><a href="//ciudadanointeligente.org" target="_blank" onclick="ga('send', 'event', 'footer-logo-fci', 'click');"><img src="//ckannet-storage.commondatastorage.googleapis.com/2015-01-22T13:31:59.187Z/logo-ciudadanoi-parafondooscuro.png" title="Fundación Ciudadano Inteligente" data-pin-nopin="true"></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-unstyled pull-right">
                        <li><a href="//twitter.com/ciudadanoi" onclick="ga('send', 'event', 'footer-twitter', 'click');" target="blank"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
                        <li><a href="//www.facebook.com/ciudadanointeligente" onclick="ga('send', 'event', 'footer-facebook', 'click');"
                                target="blank"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>