{% extends "base_generic.html" %}

{% load staticfiles %}

{% block navbar %}
    {% include "navbar.html" with navhighlighted="inicio" %} 
{% endblock %} 

{% block content %}
<section id="section-index-hero">
    <div class="container">
        <h1 class="text-center text-white width-800-nomargin">
            Estratega te ayuda a crear estrategias de incidencia que toman en cuenta factores cruciales a la hora de influir en el diseño y la
            ejecución de políticas públicas

            <!--
Reduce los riesgos y aumenta el desempeño de tu equipo al momento de
incidir en políticas públicas
-->
        </h1>
    </div>
</section>

<section id="section-index-preguntas">
    <div class="container text-center width-800-nomargin">
        <h2 class="text-white">
            Tu organización,
        </h2>
    </div>

    <div class="container text-center width-800-nomargin">
        <h3 class="text-white">
            ¿Tiene recursos poténtes pero no sabe del todo bién en que sería mejor emplearlos?

            <!--
¿Tienes objetivos de acción claros pero no logras cumplirlos?
-->

        </h3>
        <h3 class="text-white">
            ¿Pone a la meta institucional como un factor relevante a la hora de decidir en que problemas públicos enfocarse?

            <!--
¿Tus flujos de comunicación interna y externa trabajan en función de tu meta institucional?
-->
        </h3>
        <h3 class="text-white">
            ¿Quisiera que sus objetivos de acción fueran más claros, definidos y bién concebidos?

            <!--
¿No logran conectar con los actores sociales con los que te deberías relacionar?
-->

        </h3>
        <h3 class="text-white">
            ¿Siente que podría utilizar el presupuesto organizacional de una manera mucho más eficiente?

            <!--
¿Tu presupuesto organizacional es escaso y necesitas optimizarlo de la mejor manera?
-->
    </div>

    <div class="container text-center width-800-nomargin">
        <div class="spacer30"></div>
        <h2 class="text-white">
            ¡Tal ves Estratega pueda ayudarlos!
        </h2>
    </div>
</section>

<section class="metodologia" id="section-index-metodologia">
    <div class="container">
        <h2 class="text-white text-center">Metodología</h2>
        {% include "row_metodologia.html" %}
        </div>
    </div>
</section>

<section class="testimonial" id="testimonios">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Testimonios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img class="img-circle" src="{% static 'images/t6.png' %}" alt="T6" />
                <p class="cita text-center">me ha servido para identificar y ponderar todos los factores que influyen en el éxito</p>
                <p>Estratega me ha servido para identificar y ponderar todos los factores que influyen en el éxito de una planificación
                    de incidencia teniendo muy claro qué es lo que se quiere conseguir. Esto nos ha permitido planificar
                    con el nivel de detalle y orden cronológico que requiere el logro de cada uno de nuestros objetivos
                </p>
                <p class="persona">Danae Fuentes, Encargada de Incidencia en Políticas Públicas Hogar de Cristo</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img class="img-circle" src="{% static 'images/t4.png' %}" alt="T4" />
                <p class="cita text-center">fue el comienzo para abordar el tema de incidencia de forma profesional y con sentido</p>
                <p class="">Estratega fue el comienzo para abordar el tema de incidencia de forma profesional y con sentido. Con Estratega
                    nos encontramos, no solo con un equipo de profesionales que nos orientaron hacia dónde apuntar con nuestro
                    trabajo, sino con personas convencidas de que el trabajo entre la sociedad civil es posible</p>
                <p class="persona">José Manuel Tapia, Coordinador de Extensión CIS TECHO - Chile</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <img class="img-circle" src="{% static 'images/t5.jpg' %}" alt="T5" />
                <p class="cita text-center">nos ha permitido priorizar los objetivos y distribuir los esfuerzos de la organización</p>
                <p class="">Con Estratega he observado cómo intenciones se traducen en objetivos de política pública definidos y concretos,
                    con indicadores de éxito y un itinerario de acciones claro que orienta la acción de incidencia. Esto
                    nos ha permitido priorizar los objetivos y distribuir los esfuerzos de la organización</p>
                <p class="persona">Octavio Del Favero, Coordinador Legislativo Fundación Ciudadano Inteligente</p>
            </div>
        </div>
    </div>
</section>

<section id="section-index-usan-estratega">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-white">Usan Estratega</h2>
            </div>
        </div>

        <div class="row" id="row-logos">
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <a href="//www.techo.org/paises/chile/" target="_blank"><img class="logos" alt="Logo TECHO" src="{% static 'images/logo-techo.svg' %}" data-pin-nopin="true"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <a href="//www.hogardecristo.cl/" target="_blank"><img class="logos" alt="Logo Hogar de Cristo" src="{% static 'images/logo-hogar.svg' %}" data-pin-nopin="true"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <a href="//ciudadanointeligente.org/" target="_blank"><img class="logos" alt="Logo Fundación Ciudadano Inteligente" src="{% static 'images/logo-fci.svg' %}" data-pin-nopin="true"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <a href="//bordepolitico.com/" target="_blank"><img class="logos" src="{% static 'images/logo-borde.svg' %}" alt="Logo Borde Político"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">
                <a href="//espaciosabiertos.org/" target="_blank"><img class="logos" src="{% static 'images/espacios-abiertos.svg' %}" alt="Logo Espacios Abiertos"></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}