{% extends "base_generic.html" %}

{% load staticfiles %}

{% block navbar %}
    {% include "navbar.html" with navhighlighted="metodologia" %} 
{% endblock %} 

{% block content %}
<section class="metodologia">
    <div class="container">
        <h2 class="text-white text-center titulotop">Metodología</h2>
        <div class="row">
            <div class="col-md-6 nopadding">
                <div class="col-md-3 text-center arrow">
                    <img alt="Problemática" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Problemática</p>
                </div>
                <div class="col-md-3 text-center arrow">
                    <img alt="Problemática" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Causas</p>
                </div>
                <div class="col-md-3 text-center arrow">
                    <img alt="Solución Política" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Solución Política</p>
                </div>
                <div class="col-md-3 text-center arrow">
                    <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Objetivos</p>
                </div>
            </div>
            <div class="col-md-6 nopadding">
                <div class="col-md-3 text-center arrow">
                    <img alt="Resultados Intermedios" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Resultados Intermedios</p>
                </div>
                <div class="col-md-3 text-center arrow">
                    <img alt="Barreras" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Barreras</p>
                </div>
                <div class="col-md-3 text-center arrow">
                    <img alt="Factores Habilitantes" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Factores Habilitantes</p>
                </div>
                <div class="col-md-3 text-center arrow">
                    <img alt="Actores Relevantes" src="{% static 'images/m02.svg' %}">
                    <p class="text-white">Actores Relevantes</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="info-metodologia">
    <div class="container">
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Problemática</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Causas</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Solución Política</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Objetivos</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Resultados Intermedios</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Barreras</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Factores Habilitantes</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img alt="Objetivos" src="{% static 'images/m02.svg' %}">
            </div>
            <div class="col-md-2 text-right">
                <h3>Actores Relevantes</p>
            </div>
            <div class="col-md-7">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut risus vel enim faucibus faucibus non
                    non nulla. Donec nec dignissim enim. Nam dolor metus, fermentum sit amet purus eu, sodales ullamcorper
                    nisl. Mauris molestie tortor non neque auctor rutrum. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per inceptos himenaeos. Phasellus sit amet sagittis diam, vel scelerisque felis.
                    Donec id ligula id lorem aliquet vehicula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
                    posuere cubilia Curae; Etiam venenatis facilisis porta. Aliquam tristique nec neque sed fringilla. Vestibulum
                    vitae augue accumsan, malesuada lacus a, porttitor odio. Pellentesque at luctus sapien, eu porta tellus.
                    Nam aliquam eu massa eget luctus.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}