{% extends "base_generic.html" %}

{% load staticfiles %}

{% block navbar %}
    {% include "navbar.html" with navhighlighted="login" %} 
{% endblock %} 

{% block content %}
<section class="default-p-top" id="section-login">
    <div class="container">
        <h1 class="text-center">
            Hola!
        </h1>
        <h2 class="text-center">
            Por favor, dime primero quien eres
        </h2>
        {% include 'estrategias/forms/login.html' %}
    </div>
</section>
{% endblock %}
