{% extends "base_generic.html" %}

{% load staticfiles %}

{% block navbar %}
    {% include "navbar.html" with navhighlighted="mis_estrategias" %} 
{% endblock %} 

{% block content %}
<section class="default-p-top" id="section-mis-estrategias">
    <div class="container">
        <h1 class="text-center width-800-nomargin">Mis Estrategias</h1>

        <div class="row spacer30"></div>

        {% if estrategias.count == 0 %}
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>¡Aún no has creado ninguna estrategia!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 text-center">
                <h3><a href="/estrategias/nueva_estrategia">Crea una acá</h3>
            </div>
        </div>

        <div class="row spacer60"></div>
        {% endif %} 
        
        {% for estrategia in estrategias %}
        <div class="row item-listado-estrategia">
            <div class="col-sm-1 ile-img">
                <img src="{% static 'images/logotrans.png' %}" alt="Logo" />
            </div>
            <div class="col-sm-7 ile-titulo">
                <a href="/estrategias/{{estrategia.id}}">{{estrategia.titulo}}</a>
            </div>
            <div class="col-sm-2 ile-compartir">
                Compartir
            </div>
            <div class="col-sm-2 ile-borrar">
                Borrar
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
