/* Font */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600,700,300);


/* General */

body {
  font-family: 'Open Sans', sans-serif;
  color: #575757;
  background-color: #f3f3f3;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-delay: 0.1s;
  -webkit-animation-name: fontfix;
  -webkit-animation-duration: 0.1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #575757;
  font-weight: 400;
}

h1 {
    font-size: 46px;
    font-weight: 300;
    line-height: 64px;
}

h2 {
  font-size: 34px;
  font-weight: 300;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

img {
    display: block;
    margin: 0 auto;
}

input, button, select, textarea {
  color: #7f8c8c;
}


/* Buttons */

.btn {
  border-radius: 15px;
  font-weight: 400;
}

.btn-default {
    border-radius: 15px;
    background-color: #0276BD;
    border-color: #0276BD;
    color: #ffffff;
    text-transform: none;
}

.btn-default:hover, .btn-primary:hover {
    border-radius: 15px;
    background-color: #0554AD;
    border-color: #0554AD;
    color: #ffffff;
    text-transform: none;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open>.btn-default.dropdown-toggle:hover, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle.focus {
    color: #ffffff;
    background-color: #0554AD;
    border-color: #0554AD;
}


/* Forms */

.asteriskField {
    display: none;
}


/* Helpers */

.text-white {
  color: white;
}

.p-top-50 {
    padding-top: 50px;
}

.p-vrt-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.spacer15 {
    height: 15px;
}

.spacer20 {
    height: 20px;
}

.spacer25 {
    height: 25px;
}

.spacer30 {
    height: 30px;
}

.spacer60 {
    height: 60px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.width-800-nomargin {
  max-width: 800px;
  margin: 0 auto;
}

/* Navbar */

.navbar {
  margin-bottom: 0;
}

.navbar-nav {
  margin-left: 0;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
    background-color: #0276BD !important;
    text-decoration: underline;
}

.navbar-default, .menu {
  background-color: #021b2d;
  border-color: #021b2d;
  border-radius: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 400;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ffffff;
  background-color: #0276BD;
}

.navbar-default .navbar-brand, .brand {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.navbar-brand > img{
  margin: -7px 0 0 0;
}

.navbar-default .navbar-brand span, .brand span{
  font-size: 16px;
  font-weight: 600;
  position: relative;
  left: 221px;
  top: -25px;
  text-transform: uppercase;
}

.top-nav a {
  color: #fff;
  margin-top: 5px;
  font-weight: 400;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #0276BD;
}

.nav > li{
  float: left;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #0276BD;
}

.nav.nav-stacked > li > a:hover, .nav > li > a:focus {
  background-color: #0276BD;
  text-decoration: underline;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;
  color: white;
}

ul.dropdown-menu.dropdown-menu-button.thin{
  min-width: 0;
}

/*
.boton-login {
    background: transparent;
    border-color: white;
    color: white;
}

.caret {
    display: none;
}
*/


/* Section Specific (section-index-hero)*/

#section-index-hero {
  background: url("../images/hero.jpg") no-repeat bottom;
  padding: 150px 0;
  background-size: cover;
}


/* Section Specific (section-index-preguntas)*/

#section-index-preguntas {
  background: #E75663;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
}

#section-index-preguntas:before {
  content: url("../images/illustration01.svg");
  position: absolute;
  top: 180px;
  left: 0;
}

#section-index-preguntas:after {
  content: url("../images/illustration02.svg");
  position: absolute;
  top: 180px;
  right: 0;
}

#section-index-preguntas h3 {
  background: url("../images/oval.svg") no-repeat bottom;
  padding: 10px 0 40px;
}

/*
@media screen and (max-width: 1140px) {
  #preguntas:before {
   display: none;
  }

  #preguntas:after {
   display: none;
  }
}
*/


/* Section Specific (metodologia) */

.metodologia {
  background: #7BC8CA;
}

.metodologia .arrow:after {
  content: url("../images/arrow-right.svg");
  position: absolute;
  right: -10px;
  top: 20px;
}

.metodologia .arrow:last-child:after {
  content: none;
}

.row-metodologia {
  padding-top: 50px;
}


/* Section Specific (section-metodologia-metodologia) */

#section-metodologia-metodologia {
  padding-top: 150px;
}


/* Section Specific (section-metodologia-info) */

#section-metodologia-info h3 {
  font-weight: 500;
}


/* Section Specific (testimonials) */

.testimonial {
  background-color: white;
  font-weight: 400;
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonial h2 {
  text-align: center;
  margin-bottom: 40px;
}

.testimonial p.cita {
  font-size: 20px;
  padding: 50px 0;
  background: url("../images/comillas.svg") no-repeat center center;
}

.testimonial p.persona {
  color: #54ACC1;
}

.testimonial .t2 {
  background-color: #00C2E4;
}

.testimonial td {
  width: 50%;
  overflow: hidden;
  color: #ffffff;
}

.testimonial img {
  width: 40%;
}

.testimonial .row {
  margin-bottom: 20px;
}


/* Section Specific (section-usan-estratega) */

#section-index-usan-estratega {
  padding: 100px 0 100px 0px;;
  text-align: center;
  background-color: #7BC8CA;
}

#section-index-usan-estratega .logos {
  position: relative;
}

#row-logos {
  padding-top: 50px;
}

/* Section Specific (section-login) */

#section-login {
  padding-top: 150px;
}

#section-login h1 {
  margin: 0 auto;
}

#section-login h2 {
  margin: 10px 0px 30px 0px;
}


/* Section Specific (section-nueva-estrategia) */

#section-nueva-estrategia {
  padding-top: 150px;
}

#section-nueva-estrategia h1 {
  margin: 0 auto;
}


/* Section Specific (section-nueva-estrategia) */

#section-nueva-estrategia-form {
  padding-top: 50px;
  padding-bottom: 100px;
}


/* Section Specific (other sections)*/

#section-index-metodologia {
    padding-top: 100px;
    padding-bottom: 100px;
}

#section-metodologia-info {
    padding-top: 30px;
}

#section-mis-estrategias {
    background: #E75663;
}

.form-estrategia div label {
    font-size: 20px;
}

.item-listado-estrategia {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.item-listado-estrategia .ile-titulo a {
    color: white !important;
}

.item-listado-estrategia .ile-compartir {
    font-size: 20px !important;
}

.item-listado-estrategia .ile-borrar {
    font-size: 20px !important;
}


/* Footer */

footer {
  background-color: #021b2d;
  color: #ffffff;
  padding: 40px 0px 150px 0px;
  font-size: 12px;
}

footer img {
    max-width: 200px;
}

footer h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

footer a {
  color: #ffffff;
}

img.logos {
    max-width: 140px;
    max-height: 110px;
    margin-bottom: 20px;
}



/*



@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}


@media all and (min-width: 993px) {
  .navbar-nav .dropdown .btn-default {
    margin-top: 10px;
  }
}

@media all and (max-width: 992px) {
  nav.navbar .collapse.in {
    background-color: #021b2d;
    padding-bottom: 0;
  }
  .navbar-default .navbar-collapse {
    border: 0;
  }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #0664AD;
  }
}


@media screen and (max-width: 991px) {
  .testimonial img {
    width: 40%;
  }

  .metodologia .arrow:after{
   display: none;
  }
}

@media screen and (max-width: 768px) {
  h2, .h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .testimonial img {
    width: 30%;
  }
  .testimonial p.cita{
    margin: 20px 100px 5px 125px;
  }
  .testimonial p.persona{
    margin: 0 0 25px 125px;
  }
}

@media screen and (max-width: 640px) {
  .testimonial img {
    width: 40%;
  }
  .testimonial p.cita{
    margin: 20px 0 5px 0;
  }
  .testimonial p.persona{
    margin: 0 0 25px 0;
  }
}

*/